header.sticky {
    position: sticky;
    top: 0;
    z-index: 2;
    box-shadow: #00000010 0px 10px 20px 0px;
}

.stay-nav {
    background: #fff;
}

.stay-nav .navbar-brand {
    width: 153px;
    height: 62px;
}

.stay-nav .navbar-brand img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.stay-nav .navbar-nav {
    width: 100%;
    height: 40px;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
}

.stay-nav .navbar-nav li.nav-item {
    min-width: 5%;
    text-align: center;
    display: flex;
}

.stay-nav .navbar-nav li.nav-item a {
    font-size: 15px;
    font-weight: 500;
    color: #0D2242;
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
    cursor: pointer;
}

.stay-nav .navbar-nav li.nav-item a::after {
    content: "";
    position: absolute;
    width: 0px;
    height: 2px;
    left: 50%;
    margin: 0 auto;
    background: #215473;
    transform: translate(-50%);
    transition: 0.3s ease-out;
    bottom: 0;
}

.stay-nav .navbar-nav li.nav-item a img {
    filter: brightness(0) saturate(100%) invert(29%) sepia(9%) saturate(3018%) hue-rotate(160deg) brightness(96%) contrast(94%);
}

.stay-nav .navbar-nav li.nav-item a:hover::after,
.stay-nav .navbar-nav li.nav-item .nav-link.active::after {
    width: 80%;
}

.stay-nav .navbar-nav .stay-btn {
    width: 100px;
    height: 40px;
}

.res-close {
    display: none;
}

.navbar-collapse .container {
    width: 100%;
}

.profile-drop .btn span {
    width: 32px;
    height: 32px;
    display: inline-block;
    margin-right: 5px;
}

.profile-drop .btn {
    font-size: 16px;
    font-weight: 500;
    color: #0D2242;
}

.profile-drop .dropdown-menu li a {
    font-size: 14px;
    font-weight: 500;
    color: #0D2242;
}

.profile-drop .dropdown-menu li a:active {
    background-color: #215473;
    color: #fff;
}

.profile-drop .dropdown-menu li button {
    font-size: 14px;
    font-weight: 500;
    color: #d50000;
}

.profile-drop .dropdown-menu .profile-name {
    width: 158px;
    font-size: 15px;
    font-weight: 600;
    background: #f3f3f3;
    color: #215473;
    padding: 0.25rem 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    white-space: nowrap;
}

.profile-drop .dropdown-menu {
    right: 0;
    left: unset;
}

.back-drop {
    position: relative;
    overflow: hidden;
}

.back-drop::before {
    content: '';
    position: absolute;
    background: #000000a3;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 2;
    animation: back-drop 1s ease;
}

@keyframes back-drop {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media screen and (max-width:991px) {
    header.sticky {
        position: unset;
        box-shadow: none;
    }

    .stay-nav .navbar-nav {
        gap: 15px;
        height: auto;
    }

    .stay-nav .navbar-nav li.nav-item a {
        padding: 8px 16px;
    }

    .stay-nav .navbar-toggler,
    .stay-nav .navbar-toggler.res-close {
        border-color: #000;
        padding: 5px 10px;
    }

    .res-close {
        display: block;
        transition: .5s ease;
        margin: 15px 0 0;
    }

    .navbar-collapse.collapse,
    .navbar-collapse.collapsing {
        position: fixed;
        width: 320px;
        height: 100vh;
        top: 0;
        right: -100%;
        z-index: 3;
        background: #fff;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        transition: .5s ease;
        justify-content: flex-start !important;
    }

    .navbar-collapse.collapse.show {
        right: 0;
        transition: .5s ease;
    }

    .profile-drop {
        flex-wrap: wrap;
    }

    .stay-nav .navbar-nav .btn {
        width: 100%;
        margin: 8px auto;
    }

    .profile-drop .dropdown-menu {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}